@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.contact-us {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/fond_formulaire.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us #contact {
    position: relative;
    display: block;
    width: 380px;
    height: auto;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-us .section-heading {
    position: relative;
    display: block;
    margin: auto;
}

.section-heading img {
    width: 100%;
    height: auto;
    transform: scale(0.75);
}

.contact-us #contact .inputDate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-us #contact .inputDate .textLabel {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.contact-us #contact .file {
    margin-top: 0.75rem;
}

.contact-us #contact .file #photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5rem;
}

input,
textarea {
    width: 350px;
    position: relative;
    display: block;
    background-color: #f4f7fb;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    outline-color: #9e9e9e;
}

input {
    height: 40px;
    padding: 0px 15px;
}

textarea {
    min-height: 140px;
    max-height: 180px;
    padding: 15px;
    resize: none;
}

.contact-us span {
    height: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

.valid_info_name,
.valid_info_email,
.valid_info_message {
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
}

.valid {
    border: 2px solid green;
    outline-color: green;
}

.invalid {
    border: 2px solid red;
    outline-color: red;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#form-submit {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    color: #fff;
    background: rgb(203, 12, 41);
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

#form-submit:hover {
    background: rgb(177, 11, 36);
}


/* #form-submit:disabled {
  border: 1px solid #9e9e9e;
  background: transparent;
  margin-top: 1rem;
  color: #9e9e9e;
  transition: none;
  transform: none;
  cursor: default;
}

#form-submit:hover:disabled{
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  background: transparent;
  transition: none;
  transform: none;
  cursor: default;
} */

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}


/************************************/


/****** P A G E  A C C U E I L ******/


/************************************/

#form-submit1 {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    color: #fff;
    background: rgb(203, 12, 41);
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

#form-submit1.btn {
    background: rgb(177, 11, 36);
}

#form-submit2 {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    color: #fff;
    background: rgb(203, 12, 41);
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

#form-submit2:hover {
    background: rgb(177, 11, 36);
}


/* #form-submit:disabled {
  border: 1px solid #9e9e9e;
  background: transparent;
  margin-top: 1rem;
  color: #9e9e9e;
  transition: none;
  transform: none;
  cursor: default;
}

#form-submit:hover:disabled{
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  background: transparent;
  transition: none;
  transform: none;
  cursor: default;
} */

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.welcome-page {
    position: relative;
    padding: 5px;
    float: left;
}

.img_accueil{
    margin: auto;
    display: flex;
    position: absolute;
    margin-bottom: 22%;
    
}